<main>
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-9">
                <div>
                    <b>Email: </b><span th:text="${user.email}"></span>
                    <br/>
                    Address: <span th:text="${user.address}"></span>
                    <br/>
                    Name: <span th:text="${user.fullName}"></span>
                    <br/>
                    Disabled: <span th:text="${user.disabled}"></span>
                    <br/>
                    Salary: <span th:text="${user.salary}"></span>
                    <br/>
                    Balance: <span th:text="${user.balance}"></span>
                    <br/>
                   Username: <span th:text="${user.userName}"></span>
                </div>
            </div>
        </div>
    </div>
</main>
